<td>{{ pokemon?.id }}</td>
<td><img [src]="pokemon?.sprites.front_default" alt="{{ pokemon?.name }} sprite" class="pokemon-icon"></td>
<td class="text-capitalize">{{ pokemon?.name }}</td>
<td>
	<app-type-item *ngFor="let value of pokemon?.types" [type]="value.type"></app-type-item>
</td>
<td>{{ pokemon?.height / 10 }} m</td>
<td>{{ pokemon?.weight / 10 }} kg</td>
<td class="text-primary">
	<button class="btn px-1 py-0 btn-outline-secondary" [routerLink]="'/pokemons/details/' + pokemon?.id">Details</button>
</td>
