<div class="min-vh-100 bg-warning d-flex flex-column">
	<app-navbar></app-navbar>
	<div class="bg-danger flex-fill d-flex">
		<div class="bg-dark" style="width: 240px;">
			<div class="list-group list-group-flush">
				<a class="list-group-item list-group-item-action" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
					Home
				</a>
				<a class="list-group-item list-group-item-action" routerLink="/pokemons" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
					Pokémons
				</a>
			</div>
		</div>
		<div class="bg-light flex-fill px-2 py-4">
			<div class="container-fluid" >
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>
